{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
  {% if g.user %}
      <a class="action" href="{{ url_for('cashregister.add') }}">Add item</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="key">
      <header>
        <div>
            <form method="post">
          <label for="itemid">Item Id</label>
        <input name="itemid" id="itemid" value="{{ request.form['itemid'] }}" required>
        <label for="stock">Stock</label>
        <input name="stock" id="stock" value="{{ request.form['stock'] }}" required>
            <input type="submit" value="Save">
            </form>
        </div>
      </header>
    </article>
{% endblock %}